.header{
    position: relative;
    z-index:2;
    position:sticky;
    top:0;
    height:60px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);

    &__logo{
        position: absolute;
        left:0;
        height: 100%;

        @media (max-width: $bp-m) {
            height:35px;
            top:0;
        }
    }

    &__nav{
        margin-top: 20px;

        @media (max-width: $bp-m) {
            margin-top:30px;
        }
    }
}