.nav{
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    align-items: center;
    z-index:2;
    position:sticky;
    top:0;

    &__link{
        font-family: $police-2;
        color: $color-3;
        font-size: 25px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
        }

        &:active{
            text-decoration: underline;
        }
    }
}