@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Farsan&family=Jomolhari&display=swap');


$color-1 : #733F43;
$color-2 : #C8B0B2;
$color-3 : #3F6173;
$color-3b : #2d4552;
$color-4 : #B6DEF2;

$police-1: "Jomolhari", serif;
$police-2: "Beiruti", sans-serif;
$police-3: "Farsan",cursive;
