.apropos{
    @include container;

    &__content{
        background-color: $color-3;
        display: flex;
        padding: 50px 150px;
        justify-content: space-around;
        gap:100px;

        @media (max-width: $bp-t) {
            flex-direction: column;
            padding: 25px 25px;
            align-items: center;
            gap:25px;
        }

        &__photo{
            object-fit:cover;
            border-radius: 25px;
            border: solid 20px $color-4;

            @media (max-width: $bp-t) {
                width:50%;
            }

        }

        &__txt{
            display: flex;
            flex-direction: column;
            font-size:20px;
            padding: 15px 0;
  
            &--title{
                color: white;
                font-family:$police-5;
                font-size: 40px;
                font-weight: 100;
                margin:0;
            }

            &--p{
                color: $color-4;
                text-align: justify;
                font-family:$police-4;
                font-size: 18px;
                
            }
        }
    }

    &__details{
        font-family: $police-2;
        font-size: 35px;
        color:$color-3;

        &--color{
            font-family: $police-2;
            color: $color-2;
            text-align: center;
        }

        &--link{
            text-decoration: underline;
            color:$color-3;

            &--color{
                color:$color-2;
            }
        }
    }


}

.seances{
    @include container;

    &__content{
        display : flex;
        justify-content: center;
        gap: 50px;
        flex-wrap:wrap;
    }
}

.contact{
    @include container;

    &__title{
        color: $color-3;
    }

    &__content{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;

        @media (max-width: $bp-t) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__social{

            &--title{
                font-family: $police-2;
                font-size: 40px;
                font-weight: 300;
                color: $color-3;
            }

            &--links{
                display: flex;
                text-align: center;
                justify-content: center;
                gap:30px;

                img{
                    height: 100px;
                }
            }
        }
    }
}