@import url("https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&family=Farsan&family=Jomolhari&display=swap");
h2 {
  font-family: "Jomolhari", serif;
  color: #733F43;
  font-size: 35px;
}

img {
  pointer-events: none;
  user-select: none;
}

.banner {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
.banner__bg {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__content--logo {
  width: 150px;
}
.banner__content--title {
  font-family: "Jomolhari", serif;
  font-size: 40px;
  color: #3F6173;
  margin: 0;
}

.nav {
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  list-style: none;
  align-items: center;
}
.nav__link {
  font-family: "Beiruti", sans-serif;
  color: #2d4552;
  font-size: 25px;
  cursor: pointer;
}
.nav__link:hover {
  text-decoration: underline;
}
.nav__link:active {
  text-decoration: underline;
}

.header {
  position: relative;
  z-index: 2;
  position: sticky;
  top: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(10px);
}
.header__logo {
  position: absolute;
  left: 0;
  height: 100%;
}
.header__nav {
  margin-top: 20px;
}

.gallery__content {
  column-count: 4;
  column-gap: 1em;
}
.gallery__content img {
  width: 100%;
  margin-bottom: 1em;
  display: block;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3F6173;
  gap: 5px;
  padding: 20px 0;
}
.footer__txt {
  color: white;
  font-family: "Beiruti", sans-serif;
  font-size: 20px;
  margin: auto;
}
.footer__txt--button {
  cursor: pointer;
}
.footer__txt--button:hover {
  color: #C8B0B2;
}

.modalPrice {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.modalPrice__content {
  position: relative;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: auto;
  height: 90%;
}
.modalPrice__content--close {
  position: absolute;
  right: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  background-color: #733F43;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modalPrice__content--img {
  max-width: 100%;
  max-height: 100%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.modal__content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 40%;
  height: 70%;
}
.modal__content--close {
  position: absolute;
  top: 5px;
  right: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}
.modal__content--title {
  font-weight: 700;
  font-size: 40px;
}
.modal__content--txt {
  max-height: 90%;
  overflow-y: auto;
}
.modal__content--paragraph {
  margin-top: 20px;
}

.card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;
  background-color: #C8B0B2;
  color: #733F43;
}
.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}
.card__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.card__txt {
  height: 360px;
  display: block;
  font-family: "Farsan", cursive;
  font-size: 20px;
  text-align: justify;
}
.card__button {
  background-color: #733F43;
  height: 40px;
  color: #C8B0B2;
  font-family: "Beiruti", sans-serif;
  font-size: 20px;
  border: none;
}

.nobg {
  background-color: white;
  flex-direction: column-reverse;
}

.contactForm {
  border: 1px solid black;
  width: 500px;
  background-color: #3F6173;
  margin: 0;
  border-radius: 25px;
}
.contactForm__title {
  text-align: center;
  padding: 8px;
  border-bottom: 1px solid black;
}
.contactForm__content {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contactForm__content--input {
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-image: none;
  background-color: #B6DEF2;
  box-shadow: none;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  font-family: "Beiruti", sans-serif;
}
.contactForm__content .button {
  margin-top: 10px;
  align-self: center;
  cursor: pointer;
  font-weight: 500;
}
.contactForm__content textarea {
  min-height: 80px;
  resize: vertical;
}

.page1 {
  background-color: #C8B0B2;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.apropos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.apropos__content {
  background-color: #3F6173;
  display: flex;
  padding: 50px 150px;
  justify-content: space-around;
  gap: 100px;
}
.apropos__content__photo {
  object-fit: cover;
  border-radius: 25px;
  border: solid 20px #B6DEF2;
}
.apropos__content__txt {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 15px 0;
}
.apropos__content__txt--title {
  color: white;
  font-family: "Farsan", cursive;
  font-size: 35px;
  font-weight: 100;
  margin: 0;
}
.apropos__content__txt--p {
  color: #B6DEF2;
  text-align: justify;
  font-family: "Farsan", cursive;
  font-size: 25px;
}
.apropos__details {
  font-family: "Beiruti", sans-serif;
  font-size: 35px;
  color: #3F6173;
}
.apropos__details--color {
  font-family: "Beiruti", sans-serif;
  color: #C8B0B2;
  text-align: center;
}
.apropos__details--link {
  text-decoration: underline;
  color: #3F6173;
}
.apropos__details--link--color {
  color: #C8B0B2;
}

.seances {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.seances__content {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.contact__title {
  color: #3F6173;
}
.contact__content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.contact__content__social--title {
  font-family: "Beiruti", sans-serif;
  font-size: 40px;
  font-weight: 300;
  color: #3F6173;
}
.contact__content__social--links {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 30px;
}
.contact__content__social--links img {
  height: 100px;
}/*# sourceMappingURL=index.css.map */